    .feautures {
        padding-top: 94px;
        padding-bottom: 47px;
    }
    .feautures__list{
        display: flex;
        flex-wrap: wrap;
        margin-top: calc( -1 *  var(--primary-margin));
        margin-left: calc( -1 *  var(--primary-margin));
    }
    .feautures__list-item{
        flex-basis: calc((100% - 120px) / 4);
        margin-top: var(--primary-margin);
        margin-left: var(--primary-margin);
    }
    .feautures__icon-container {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        height: 120px;
        background-color:var(--secondary-background-color);
        border-radius: 4px;
    }
    .feautures__icon {
        margin: 0 auto;
        width: 70px;
        height: 70px;
    }
    .feauture__desc {
        line-height: 1.71;
        }