    .flex-container {
        display: flex;
        align-items: baseline;
    }
    .footer {
        padding-top: 60px;
        padding-bottom: 60px;
        background: var(--dark-background-color)
    }
    
    .footer__map-link {
        font-style: normal;
        line-height: 1.71;
        color: var(--primery-white-colour);
    
        transition: color 250ms var(--transition-timing-function);
            &:hover,
            &:focus {
                 color: var(--accent-colour);
        }
    }
    
    .footer__address-link {
        font-style: normal;
        line-height: 1.71;
        color: rgba(255, 255, 255, 0.6);
            &:hover,
            &:focus {
                color: var(--accent-colour);
            }
    }
    
    
    .footer__address {
    margin-top: 20px;
        & :not(:last-child) {
            margin-bottom: 9px;
        }
    }
    
    .footer__sidebar {
    margin-left: 70px;
    }
    .footer__label {
    margin-bottom: 20px;

    font-weight: 700;
    text-transform: uppercase;

    color: var(--primery-white-colour)
    }
    .footer__form {
    margin-left: 93px;
    }
    .footer__form-desc {
    display: block;
    margin-bottom: 20px;  

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primery-white-colour);
    }
    .footer__email-form {
    display: flex;
    }
    .footer__email-form-label {
    margin-right: 12px;
    }
    .footer__email-form-input {
    width: 358px;
    height: 50px;

    padding-left: 16px;

    background-color: transparent;
    color: var(--primery-white-colour);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
        &:focus {
            border-color: var(--accent-colour);
        }
        &::placeholder {
            @include font(16px, 400, 1.25);
            
            color: rgba(255, 255, 255, 0.6);
        }
    }
    
    
    .footer__form-btn {
    display: flex;
    align-items: flex-start;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    }
    .footer__form-btn-desc {
    margin-right: 10px;
    }