   
    .flex-container {
        @media screen and (max-width: 1199px) {
            text-align: center;
        }
        
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 1200px) {
            align-items: baseline;
        }
    }
    .footer {
        padding-top: 60px;
        padding-bottom: 60px;
        background: var(--dark-background-color)
    }
    
    .footer__map-link {
        font-style: normal;
        line-height: 1.71;
        color: var(--primery-white-colour);
    
        transition: color 250ms var(--transition-timing-function);
            &:hover,
            &:focus {
                 color: var(--accent-colour);
        }
    }
    
    .footer__address-link {
        font-style: normal;
        line-height: 1.71;
        color: rgba(255, 255, 255, 0.6);
            &:hover,
            &:focus {
                color: var(--accent-colour);
            }
    }
    
    .footer-address__list {
        margin-top: 20px;
    }
    .footer-address__list-item {
        &:not(:last-child) {
            margin-bottom: 8px;
            @media screen and (min-width: 1200px) {
                margin-bottom: 9px;
            }

        }
        @media screen and (max-width: 1199px) {
            margin-bottom: 60px;
        }
    }
    
    .footer__sidebar {
        @media screen and (max-width: 767px) {
            margin-bottom: 60px;
        }
        @media screen and (min-width: 1200px) {
            margin-left: 70px;
        }
    }
    .footer__label {
    margin-bottom: 20px;

    font-weight: 700;
    text-transform: uppercase;

    color: var(--primery-white-colour)
    }
    .footer__form {
        @media screen and (min-width: 1200px) {
            margin-left: 93px;
        }
    }
    .footer__form-desc {
    display: block;
    margin-bottom: 20px;  

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primery-white-colour);
    }
    .footer__email-form {
      @media screen and (min-width: 1200px) {
          display: flex;
      }  
    }
    .footer__email-form-label {
        @media screen and (min-width: 1200px) {
            margin-right: 12px;
        }
    }
    .footer__email-form-input {
    width: 358px;
    height: 50px;

    padding-left: 16px;

    background-color: transparent;
    color: var(--primery-white-colour);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
        &:focus {
            border-color: var(--accent-colour);
        }
        &::placeholder {
            @include font(16px, 400, 1.25);
            
            color: rgba(255, 255, 255, 0.6);
        }
        @media screen and (max-width: 1199px) {
            margin-bottom: 20px;
        }
    }
    
    
    .footer__form-btn {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    }
    .footer__form-btn-desc {
    margin-right: 10px;
    }




