    .our-work {
    padding-top: 47px;
    padding-bottom: 94px;
    }
    .our-work__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc( -1 *  var(--primary-margin));
    margin-left: calc( -1 *  var(--primary-margin));

    }
    .our-work__list-item {
    flex-basis: calc((100% - 90px) / 3);
    margin-top: var(--primary-margin);
    margin-left: var(--primary-margin);
    }
    .our-work__img-wrapper{
        position: relative;
    }
    .our-work__img-description {
        position: absolute;
        bottom: 0;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;

        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;

        color: var(--primery-white-colour);
        background-color: rgba(47, 48, 58, 0.8);
    }