    .our-clients__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--primary-margin));
        margin-left: calc(-1 * var(--primary-margin));
    }
    .our-clients__list-item {
        flex-basis: calc((100% - 180px) / 6);
        margin-top: var(--primary-margin);
        margin-left: var(--primary-margin);
        width: 170px;
        height: 92px;
    }
    .our-clients__list-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        fill:var(--primary-decoration-colour);
        border: 1px solid var(--primary-decoration-colour);
        border-radius: 4px;

        transition: fill 250ms var(--transition-timing-function),
        border 250ms var(--transition-timing-function);

            &:hover,
            &:focus {
                fill: var(--accent-colour);
                border: 1px solid var(--accent-colour);
            }
    }
    
    .our-clients__icon  {
        width: 106px;
        height: 60px;
    }