    .btn-list {
        display: flex;
        flex-wrap: wrap;
       
        margin-bottom: 40px;

            & :not(:last-child) {
                margin-right: 8px;
            }
            @media screen and (min-width: 768px) {
                margin-bottom: 30px;
                justify-content: center;
            }
            
            @media screen and (min-width: 1200px) {
                margin-bottom: 50px;
            }
            
    }
    .btn-list__item {
        @media screen and (max-width: 767px) {
            &:nth-child(-n + 3){
                margin-bottom: 15px;
            }
        }
        
    }
    
    .btn-list__btn {
        padding: 6px 22px;
        border: none;
        border-radius: 4px;

        font-family: 'Roboto', sans-serif;
        background-color: var(--secondary-background-color); 
        cursor: pointer;
        
        @include font(16px, 500, 1.62);
        
        text-align: center;
        letter-spacing: 0.03em;

        color: var(--title-text-colour);

        transition: background-color 250ms var(--transition-timing-function),
        color 250ms var(--transition-timing-function),
        box-shadow 250ms var(--transition-timing-function);

            &:hover,
            &:focus{
                background-color: var(--accent-colour);
                color: var(--primery-white-colour);
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            }
    }
    

    .current-btn{
        background: var(--accent-colour);
        color: var(--primery-white-colour);
    }