    .modal {
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-height: 100%;
    
        transform: translate(-50%,-50%);
    
        background-color: var(--primery-white-colour);
        

        // @media screen and (max-width: 1200px) {
        //     width: 450px;
        //     height: 609px;
        //     overflow: auto;
        // @media screen and (max-width: 459px) {
        //       width: 95%;
        //     }
        // @media screen and (max-height: 609px) {
        //       height: 100%;
        //     }
        //   }
    }
    .close-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        cursor: pointer;
        transition: fill 250ms var(--transition-timing-function);
            &:focus,
            &:hover {
                fill: var(--accent-colour);
            }
    }
   