.section-title {
    margin-bottom: 30px;

    @include font(28px, 700, 1.18);
    
    text-align: center;
    
    color: var(--title-text-colour);

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;

      @include font(36px, 700, 1.17);
      }
    }