    .social-list {
        display: flex;
        justify-content: space-between;
        
    }
    .social-list__item {
        width: 44px;
        height: 44px;
    }
    .social-list__item_indent:not(:last-child){
        margin-right: 10px;
    }
    .social-list__icon {
        width: 20px;
        height: 20px;
    }
    .social-list__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .social-list__link_bg_light{
        fill: var(--primary-decoration-colour);
        border-radius: 50%;
        background-color: var(--primery-white-colour);

        transition: fill 250ms var(--transition-timing-function),
        background-color 250ms var(--transition-timing-function);

            &:hover,
            &:focus {
                fill:var(--primery-white-colour);
                background-color: var(--accent-colour);
                
            }
    }
    .social-list__link_bg_dark {
        fill: var(--primery-white-colour);
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
    
        transition: background-color 250ms var(--transition-timing-function);
            &:hover,
            &:focus {
                 background-color: var(--accent-colour);
            }
        }
       