    :root 
    { --primary-text-colour:#757575;

    --title-text-colour:#212121;

    --accent-colour: #2196f3;
    --primary-black-color: #000000;
    --primery-white-colour:#FFFFFF;
    --dark-background-color:#2F303A;
    --secondary-background-color:#F5F4FA;
    --primary-decoration-colour: #AFB1B8;
    --primary-margin: 30px;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }